.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  position: absolute;
  background-color: #f6f8fa;
  box-shadow: var(--shadow);
  z-index: 1;
  border: 2px solid var(--border);
  border-radius: var(--border-radius-lg);
  margin-top: 5px;
  min-width: 340px;
  padding: 1rem;
}

.item {
  display: flex;
  width: 100%;
  color: var(--text-black);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
}

.item:hover,
.item:focus {
  background-color: #ececec;
  outline: none;
}
