.button {
  padding: 4px;
  cursor: pointer;
  border: 2px solid var(--border);
  background-color: var(--background-white);
  border-radius: var(--border-radius-md);
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-family: "Inter";
  min-width: 100px;
}

.button:disabled {
  background-color: var(--background-disabled);
  cursor: not-allowed;
}

.Lefticon {
  margin-right: 8px;
}

.Righticon {
  margin-left: 4px;
}

.button.small {
  font-size: var(--text-sm);
}
.button.medium {
  font-size: var(--text-base);
}

.button.large {
  font-size: var(--text-lg);
}

.button.shadow {
  box-shadow: var(--shadow);
}
