.select {
  position: relative;
  display: inline-block;
}

.option {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  cursor: pointer;
}

.option:hover {
  background-color: var(--background-hover);
}

.label {
  width: 100%;
  color: var(--text-neutral);
  font-size: var(--text-sm);
  font-weight: 500;
  padding: 0.4rem 0.3rem;
}

.label:hover {
  color: var(--text-black);
}
