.navbar {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--background-white);
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem 0.3rem;
}

.item label {
  color: var(--text-neutral);
  font-size: var(--text-sm);
  font-weight: 500;
}
